## IDE & Editor
/.idea
/.vscode
/.vagrant

## Node
/node_modules
npm-debug.log
yarn-error.log

## Laravel
/public/hot
/public/storage
/public/uploads
/storage/*.key
/vendor
.env
.php_cs.cache

## Homestead
Homestead.json
Homestead.yaml

## Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/
